body {
    align-items: right;
    display: flex;
    
}

.pages {
    width: 55%;
    border: 2px solid grey;
    padding: 0em 1em;
    font-family: cursive;
    text-align: center;
    display: flex;
    position: absolute;
    right: 5em;
}