<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlikti darbai</title>
    <link rel="stylesheet" type="text/css" href="5Atlikti Darbai.css" />
</head>
<body>
    <img src="/images/logo.png" width="100" height="100">
    <a href="1Pagrindinis.html">PAGRINDINIS</a>
    <a href="2Apie Mus.html">APIE MUS</a>
    <a href="3Paslaugos.html">PASLAUGOS</a>
    <a href="4Produktai.html">PRODUKTAI</a>
    <a href="5Atlikti Darbai.html">ATLIKTI DARBAI</a>
    <a href="6Kontaktai.html">KONTAKTAI</a>


</body>
</html>
